{% extends "ethapp/base.html" %} {% block content %}
<div class="container" style="width: 650px">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Eth Test</h1>
      <hr />
      <br />
      <div id="content">
        <p class="text-center">{{ message }}</p>
        <p class="text-center">Transaction Receipt: <b>{{ tx_receipt }}</b></p>
        <p class="text-center">Transaction Hash: <b>{{ tx_hash }}</b></p>
        <p class="text-center">
          Original Greeting:
          <span style="color: red">{{ contract_greet_call }}</span>
        </p>
        <p class="text-center">
          Updated Greeting:
          <span style="color: red">{{ updated_contract_greeting }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
